<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Symfony!</title>
        <link rel="stylesheet" href="{{asset('css/app.css')}}">
    </head>
    <body>
    <a href="">Lucky number</a>
        <a href="">Workout</a>
        <a href="">New product</a>
        <h1>{{ message }}</h1>
    </body>
</html>
